#youtubeplayer {
	text-align: center;
}

#youtubeinput {
	text-align: center;	
}

.center_span {
	text-align: center;	
}

#snapshot_button {
	text-align: center;	
}

#snapshot_button {
	width: 150px;
}

#done_button {
	width: 150px;
}